wst/trunk/tests/test_suite/files/array_sequence_item_name.wsdl

<?xml version="1.0"?>
<definitions name="wst_test" 
   xmlns="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:tns="library1" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   targetNamespace="urn:wst-test">

  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:wst-test">
    
      <xsd:complexType name="ArrayOfEmailAddress">
       <xsd:sequence>
         <xsd:element minOccurs="0" maxOccurs="unbounded" name="EmailAddress" nillable="true" type="tns:EmailAddress"/>
       </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="EmailAddress">
       <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="1" name="ContactAgreement" type="xsd:boolean"/>
         <xsd:element minOccurs="0" maxOccurs="1" name="Email" type="xsd:string"/>
         <xsd:element minOccurs="0" maxOccurs="1" name="EmailType" type="xsd:string"/>
         <xsd:element minOccurs="1" maxOccurs="1" name="Preference" nillable="true" type="xsd:int"/>
       </xsd:sequence>
      </xsd:complexType>     
    
    </xsd:schema>
  </types>
  

</definitions>
