wst/trunk/tests/test_suite/files/complex_array_sequence.WSDL

<?xml version="1.0"?>
<definitions name="wst_test" 
   xmlns="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:tns="library1" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   targetNamespace="urn:wst-test">

  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:wst-test">
    
        <xsd:complexType name="TArrayIntFieldType">
    	    <xsd:sequence>
    		    <xsd:element name="intField" type="xsd:int" minOccurs="0" maxOccurs="unbounded" />
    	    </xsd:sequence>
        </xsd:complexType>

        <xsd:complexType name="TArrayItemType">
    	    <xsd:sequence>
    		    <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
            	    <xsd:sequence>
            		    <xsd:element name="intField" type="xsd:int" />
                    <xsd:element name="strField" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="floatField" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="byteField" type="xsd:byte" maxOccurs="1"/>
                    <xsd:element name="charField" type="xsd:char" minOccurs="1"/>
                    <xsd:element name="longField" type="xsd:long" minOccurs="0"/>
            	    </xsd:sequence>
            	    <xsd:attribute name="strAtt" type="xsd:string"/>
            	    <xsd:attribute name="intAtt" type="xsd:int"/>
                </xsd:complexType>       
            </xsd:element>    
    	    </xsd:sequence>
        </xsd:complexType>    
    
    </xsd:schema>
  </types>
  

</definitions>
