wst/trunk/tests/test_suite/files/wsdl_gen_complex_type_derivation.wsdl

<?xml version="1.0"?>
<definitions name="runtime_generator" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:sample-namespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:sample-namespace">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sample-namespace">
      <xsd:simpleType name="TTestEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="teA"/>
          <xsd:enumeration value="teB"/>
          <xsd:enumeration value="teC"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="TClass_A">
        <xsd:sequence>
          <xsd:element name="A_StringProp" type="xsd:string" maxOccurs="1" minOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TClass_AB">
        <xsd:complexContent>
          <xsd:extension base="tns:TClass_A">
            <xsd:sequence>
              <xsd:element name="AB_IntProp" type="xsd:int" maxOccurs="1" minOccurs="1"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Class_ABC">
        <xsd:complexContent>
          <xsd:extension base="tns:TClass_AB">
            <xsd:sequence>
              <xsd:element name="ABC_BoolProp" type="xsd:boolean" maxOccurs="1" minOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute use="required" name="ABC_EnumAttProp" type="tns:TTestEnum"/>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </types>
</definitions>
