wst/tags/0.6/tests/test_suite/files/case_sensitive3.wsdl

<?xml version="1.0"?>
<definitions name="wst_test" 
   xmlns="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:tns="urn:wst-test3" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   targetNamespace="urn:wst-test3">

  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
                xmlns:s="urn:wst-test" 
                targetNamespace="urn:wst-test3">
  
  
        <xsd:import
          namespace = "urn:wst-test"
          schemaLocation = "case_sensitive2.xsd"
        />
      
        <xsd:simpleType name="TypeA">
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      
        <xsd:simpleType name="TYPEA">
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
       
        <xsd:complexType name="CompoundType">
    	    <xsd:sequence>
    		    <xsd:element name="f1" type="s:SampleType" />
    		    <xsd:element name="f2" type="s:SAMPLETYPE" />
            
    		    <xsd:element name="f3" type="n:TypeA" />
    		    <xsd:element name="f4" type="n:TYPEA" />
    	    </xsd:sequence>
        </xsd:complexType>
        
    </xsd:schema>
  </types>
  

</definitions>
