wst/tags/0.6/tests/test_suite/files/class_headerblock_derived.wsdl

<?xml version="1.0"?>
<definitions name="wst_test" 
   xmlns="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:tns="library1" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:wst="urn:wst_base"
   targetNamespace="urn:wst-test">

  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:wst-test">
    
        <xsd:complexType name="TEmptyHeader" wst:wst_headerBlock="true" />
        
        <xsd:complexType name="TSampleHeader" wst:wst_headerBlock="true">
          <xsd:sequence>
            <xsd:element name="intField" type="xsd:int"/>
            <xsd:element name="strField" type="xsd:string"/>
            <xsd:element name="floatField" type="xsd:float"/>
          </xsd:sequence>
          <xsd:attribute use="required" name="strAtt" type="xsd:string"/>
          <xsd:attribute use="required" name="intAtt" type="xsd:int"/>
        </xsd:complexType>    
    
    </xsd:schema>
  </types>
  

</definitions>
