wst/tags/0.6/tests/test_suite/files/complex_class_choice2.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <xsd:schema xmlns:n="urn:wst-test" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="urn:wst-test">
  
    <xsd:complexType name="TSampleType1">
	    <xsd:choice maxOccurs="unbounded">
		    <xsd:element name="intField" type="xsd:int" />
        <xsd:element name="strField" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	    </xsd:choice>
    </xsd:complexType>
        
</xsd:schema>
